/* ------ tag style reset -------------------- */

html{
	height:100%;
}

h1, h2, h3, h4, h5, h6{
	margin:0px;
}

body{
	margin: 0px;
	height: 100%;
}

ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}

li{
	
}

a {
	color: black; 
	text-decoration: none; 
	outline: none
}

a:hover, a:active {
	text-decoration: none; 
	color:black; 
}


body{
	font-family: 맑은고딕, 고딕, 돋움, Arial, sans-serif;
	font-weight: bold;
}

/* ------ tag style cascade -------------------- */

.hidden {
	display: none;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	height: 50px;
	border-bottom: 1px solid black;
	background: #000000;
	padding: 0px 10px;
	
}

.header  h1 img {
	height: 33px;
}

.header ul{
	display: flex;
	min-width: auto;
}

.header ul a,
.header ul .dropbtn,
.header ul .dropbtn2 {
	padding-right: 20px;
	color: #D8D8D8;	
}


/* ------ main-menu -------------------- */



/* ------ my-menu -------------------- */

.my-menu img{
	height: 35px;
}



/* ------ main -------------------- */

.main{
	background-color: white;
	
}
.main:after{
}

.main img{
	margin-left: auto; 
	margin-right: auto; 
	display: block;
	position: fixed;
}

.icon{
	padding-right: 7px;
}

/* ------ btn -------------------- */

.enter {
  	font-size: 15px;
  	position: fixed;
  	z-index: 1;
  }
  
.btn{
	background-color: black;
	border-radius: 4px;
	padding :5px 10px;
}

.btn a{
	color: white;
}


/* ------ overlay -------------------- */

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s; 
}


.overlay-content {
    position: relative;
    top: 25%; 
    width: 100%;
    text-align: center;
    margin-top: 30px; 
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .close-button {
	position: absolute;
    top: 15px;
    right: 15px;
    font-size: 40px;
}

/*-------drop down ---------------------*/
.dropbtn, 
.dropbtn2 {  
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus,
.dropbtn2:hover, .dropbtn2:focus {
  
}

.dropdown,
.dropdown2 {
    position: relative;
    display: inline-block;
}



 .dropdown-content,
 .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
	margin-top: 17px;
}

 .dropdown-content a,
 .dropdown-content2 a {
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
}

 .dropdown-content a:hover,
 .dropdown-content2 a:hover {
 	background-color: #ddd;
 	color: black;
 }

.show {
	display:block;
} 

/* -------ㅡvisual ----------------------------*/

.visual{
	background: url("../images/1.jpg") 300px;
	height: 300px;
}

/* -------ㅡfooter ----------------------------*/


.footer{
	background-color: black;
	height: 150px;
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	font-weight: normal;
}

.footer .company-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: inherit;
	flex-direction: column;
	margin: 15px 0px;
}

.footer .company-menu .hori {
	display: flex;
	flex-direction: row;

}

.footer .company-menu .hori a{
	color: white;
}

.footer .company-menu .hori .footer-menu {
	background: url("../images/footer_bar.png") no-repeat 1px center;	
	padding-left: 7px;
	padding-right: 7px;	
}

.footer .company-menu .hori .footer-menu:first-child {
	background: none;
}
.company-menu img{
	height: 35px;
}
/* -------ㅡmedia ----------------------------*/

@media screen and (max-width: 500px) {
	.header{font-size: 11px;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 30px;
        top: 10px;
        right: 10px;
    }
    .header ul a,
	.header ul .dropbtn,
	.header ul .dropbtn2 {
		padding-right: 7px;
		font-weight: normal;

	}
	.main{
		background-size: 1000px;
	}
	.footer{
		font-size: 11px;
	}
}
