/* ------ tag style reset -------------------- */

html{
	height:100%;
}

h1, h2, h3, h4, h5, h6{
	margin:0px;
}

body{
	margin: 0px;
	height: 100%;
}

ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}

li{
	
}

a {
	color: black; 
	text-decoration: none; 
	outline: none
}

a:hover, a:active {
	text-decoration: none; 
	color:black; 
}


body{
	font-family: 맑은 고딕, 고딕, 돋움, Arial, sans-serif;
	font-weight: bold;
}

/* ------ tag style cascade -------------------- */

.hidden {
	display: none;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	height: 50px;
	border-bottom: 1px solid black;
	background: #000000;
	padding: 0px 10px;
	
}

.header  h1 img {
	height: 33px;
}

.header ul{
	display: flex;
	min-width: auto;
}

.header ul a,
.header ul .dropbtn,
.header ul .dropbtn2 {
	padding-right: 20px;
	color: #D8D8D8;	
}


/* ------ main-menu -------------------- */

.title{
	background: url("../images/main_bar.png") no-repeat 13px center;	
	max-width: fit-content;
	padding-left : 25px;
	margin : 50px auto 30px auto;
	font-family: 맑은 고딕, 고딕, 돋움, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;	

}

/* ------ my-menu -------------------- */

.my-menu img{
	height: 35px;
}



/* ------ main -------------------- */

.main{
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.main:after{
}

.main img{
	margin-left: auto; 
	margin-right: auto; 
	display: block;
	position: fixed;
}

.icon{
	padding-right: 7px;
}


.input-form {
	width: inherit;
}
/* ------ btn -------------------- */

.enter {
  	font-size: 15px;
  	z-index: 1;
  	
  }
  
.btn{
	background-color: black;
	border-radius: 4px;
	padding :5px 10px;

}

.btn a{
	color: white;
	font-weight: normal;
	
}

.ent-btn{
	position:absolute;
	width: 80px;
	height: 20px;
	top: 350px;
	display: flex;
	justify-content: center;
	align-content: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
	border: 2px solid #424242;
}

/* ------ overlay -------------------- */

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s; 
}


.overlay-content {
    position: relative;
    top: 25%; 
    width: 100%;
    text-align: center;
    margin-top: 30px; 
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .close-button {
	position: absolute;
    top: 15px;
    right: 15px;
    font-size: 40px;
}

/*-------drop down ---------------------*/
.dropbtn, 
.dropbtn2 {  
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus,
.dropbtn2:hover, .dropbtn2:focus {
  
}

.dropdown,
.dropdown2 {
    position: relative;
    display: inline-block;
}



 .dropdown-content,
 .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
	margin-top: 17px;
}

 .dropdown-content a,
 .dropdown-content2 a {
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
}

 .dropdown-content a:hover,
 .dropdown-content2 a:hover {
 	background-color: #ddd;
 	color: black;
 }

.show {
	display:block;
} 

/* -------�뀫visual ----------------------------*/

.visual{
	background: url("../images/fashion.jpg") no-repeat center;
	/* background-color: #0172CE; */
	min-height: 400px;
	max-height: 500px;
	border-bottom: 4px solid gray;
}

/* -------�뀫contents ----------------------------*/

.contents{
	margin: 0px;
	background: white;
	padding: 15px 0px;
	display:-ms-flexbox;
	-ms-flex-direction:column;
	-ms-flex-align:center;
	
}

.board-container {
	margin: 0px;
	padding: 0px 8%;
	max-width: 1080;
	display: flex;
	flex-direction :row;
	justify-content: space-between;
	align-items:center;
	/* background: yellow; */
	flex-wrap:  wrap;
}

.board {
	width: 450px;
	height: 300px;
	/* background: gray;*/
	margin: 10px 5px;
	display: flex;
	flex-direction: column-reverse;
	
}

.board img {
	width: inherit;
	height: inherit;
	position: absolute;
	z-index: 0;
}

.board-title-cont {
	width: 100%;
	height: 100px;
	background: rgba(0,0,0,0.8);
 	display: flex;
 	z-index: 1;
 	flex-direction: column;
 	padding-bottom: 10px;
}

.board-title {
	color: white;
	background: url("../images/main_bar.png") no-repeat 13px center;	
	width: auto;
	padding-left : 25px;
	height:40px;
	margin : 3px 10px; 
	font-family: 맑은 고딕, 고딕, 돋움, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;	
	display: flex;
	align-items: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-size: 16px;
	
}

.board-etc {
	display: flex;
	justify-content: space-between;
	color: white;
	height: 20px;
	width: auto;
	padding: 0px 25px 15px 25px;
	font-weight: normal;
	font-size: 16px;
}

/* -------�뀫footer ----------------------------*/


.footer{
	background-color: black;
	height: 150px;
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	font-weight: normal;
}

.footer .company-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: inherit;
	flex-direction: column;
	margin: 15px 0px;
}

.footer .company-menu .hori {
	display: flex;
	flex-direction: row;

}

.footer .company-menu .hori a{
	color: white;
}

.footer .company-menu .hori .footer-menu {
	background: url("../images/footer_bar.png") no-repeat 1px center;	
	padding-left: 7px;
	padding-right: 7px;	
}

.footer .company-menu .hori .footer-menu:first-child {
	background: none;
}

.company-menu img{
	height: 35px;
}

.point {
	background:#0172CE;
	border-radius: 5px;
	min-width: 20px;
	width: 100px;
	text-align: center;

}



/* --------tab bar ------------------ */

.tab-info {
	margin-top: 10px;
	margin-bottom: 20px;
}


/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    margin-top:0px;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    margin-bottom: 0px;
}

/* Style each tab content individually */ 
#London {background-color:black;}
#Paris {background-color:black;}
 #Tokyo {background-color:black;}
#Oslo {background-color:black;}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
 input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
     display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #0080FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
     background-color: black;
}

.editbtn {
	width: 100%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
 span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
 @media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn, .signupbtn {
        width: 100%;
    }
} 


.style-cont {	
	width: 90%;
	margin: 20px 0px;
}
 
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.style-container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

@keyframes example {
     from {width: 0%;}
}


.html {width: 90%; background-color: #4CAF50; animation-name: example; animation-duration: 2s;} /* Green */
.css {width: 80%; background-color: #2196F3; animation-name: example; animation-duration: 2s;} /* Blue */
.js {width: 65%; background-color: #f44336; animation-name: example; animation-duration: 2s;} /* Red */
.php {width: 60%; background-color: #808080; animation-name: example; animation-duration: 2s;} /* Dark Grey */


.btn-list {
	position: fixed;
	right: 10px;
	bottom: 10px;
	border : 1px solid red;
}

.btn-list > ul {
	border: 1px solid blue;	
	display: flex;
	flex-direction: column;
	color: white;
}

.btn-list > ul > li {
	background: #424242;
	color: white;
	width : 50px;
	height: 50px;
	border-radius: 25px;
	position:fixed;
	right: 10px;
	top: 60px;
	transition: 0.3s;
	border : 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: gray;
}

.btn-list > ul > li a{
	color: white;
}


.btn-list > ul > li:first-child {
	order: 2;
	background: url("../images/ic_more_horiz_white_24dp_2x.png") black;
	z-index: 100;
}

#edit-button.show {
	top:110px;	
}

#del-button.show {
	top:160px;	
}


.reco-cont{
	margin: 0px;
	padding: 0px;
	justify-content:flex-start;
}

.reco-item {
	width:400px;
	height: 300px;
	background: black;
	
}

.reco-item:last-child {
	flex-direction: row;
}

.more{
	display:flex;
	justify-content:center;
	align-items:center;
	background: gray;
	color: white;
	font-size: 25px;
}

/* -------�뀫media ----------------------------*/

@media screen and (max-width: 500px) {
	.header{font-size: 11px;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 30px;
        top: 10px;
        right: 10px;
    }
    .header ul a,
	.header ul .dropbtn,
	.header ul .dropbtn2 {
		padding-right: 7px;
		font-weight: normal;

	}
	.main{
		background-size: 1000px;
	}
	.footer{
		font-size: 11px;
	}
	.visual{
		background: url("../images/fashion.jpg") no-repeat center;
		/* background-color: #0172CE; */
		min-height: 190px;
		max-height: 300px;
		
	}
	.ent-btn{
		top: 180px;
	}
	
	.contents{
		margin: 0px;
		padding: 10px 0px;		
	}
	
	.board-container {
		padding: 0px;
		flex-direction :column;
	}
	.board {
		width: 100%;
		height: 300px;
	}
	
	.tablink {
		font-size: 11px !important;
	}
	.reco-item {
		margin: 5px 0px;
	}	
	.reco-item:last-child {
		flex-direction: row;
	}
	.reco-item img{
		width:100%;
		position: inherit;
	}	
	.dropdown-content,
 	.dropdown-content2 {
   		min-width: 100px;
	}
}