/* ------ tag style reset -------------------- */

html{
	height:100%;
}

h1, h2, h3, h4, h5, h6{
	margin:0px;
}

body{
	margin: 0px;
	height: 100%;
}

ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}

li{
	
}

a {
	color: black; 
	text-decoration: none; 
	outline: none
}

a:hover, a:active {
	text-decoration: none; 
	color:black; 
}



body{
	font-family: 맑은고딕, 고딕, 돋움, Arial, sans-serif;
	font-weight: bold;
}

/* ------ tag style cascade -------------------- */

.hidden {
	display: none;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	height: 50px;
	border-bottom: 1px solid black;
	background: #000000;
	padding: 0px 10px;
}

.header  h1 img {
	height: 33px;
}

.header ul{
	display: flex;
	min-width: auto;
}

.header ul a{
	padding-right: 20px;
	color: #D8D8D8;	
}


/* ------ main-menu -------------------- */



/* ------ my-menu -------------------- */

.my-menu img{
	height: 35px;
}



/* ------ main -------------------- */

.main{

	background: url("../images/123.gif") repeat ;
	background-size:auto;
	background-color: white;
	
}
.main:after{
}

.main img{
	margin-left: auto; 
	margin-right: auto; 
	display: block;
	position: fixed;
}

.icon{
	padding-right: 7px;
}

.enter {
  	font-size: 15px;
  	position: fixed;
  	z-index: 1;
  }
  
.btn{
	background-color: black;
	border-radius: 4px;
	padding :5px 10px;
}

.btn a{
	color: white;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s; 
}


.overlay-content {
    position: relative;
    top: 25%; 
    width: 100%;
    text-align: center;
    margin-top: 30px; 
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .close-button {
	position: absolute;
    top: 15px;
    right: 15px;
    font-size: 40px;
}

@media screen and (max-width: 500px) {
	.header{font-size: 11px;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 30px;
        top: 10px;
        right: 10px;
    }
    .header ul a{
		padding-right: 7px;
		font-weight: normal;

	}
	.main{
		background-size: 1000px;
	}
}
 